body {
    background-color: #0a1a0a;
    color: #d0ffd0;
    margin: 0;
    font-family: "Courier New", monospace;
}

header {
    background: #0f2a0f;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
nav a {
    margin-left: 20px;
    color: #9aff9a;
    text-decoration: none;
}
nav a:hover, .active {
    color: white;
}

.container {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.main-title {
    text-align: center;
    font-size: 28px;
}

.button-area {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.main-btn {
    background: #003300;
    border: 1px solid #00ff00;
    padding: 15px 20px;
    margin: 0 20px;
    font-size: 20px;
    color: #afffaf;
    text-decoration: none;
}
.main-btn:hover {
    background: #005000;
}

footer {
    background: #0f2a0f;
    text-align: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    background: #001a00;
    color: #aaffaa;
    border: 1px solid #00ff00;
    padding: 10px;
    margin-top: 20px;
}
